# PYTHON VIRTUAL ENVIRONMENT
venv/

# PYCACHE
**__pycache__/

# JMETER
jmeter.*
apache-jmeter-5.6.3/

# VSCODE
.vscode/

# ZIP FILES
*.zip

# SSH KEYS
**.pem

# Log files
**.log

# SQLITE
**.sqlite

# Folders
Lab6ADeliveries/
introduction/