# PYTHON VIRTUAL ENVIRONMENT
venv/

# PYCACHE
Processor/__pycache__/
Receiver/__pycache__/
Storage/__pycache__/

# JMETER
jmeter.*
apache-jmeter-5.6.3/

# VSCODE
.vscode/

# ZIP FILES
*.zip

# SSH KEYS
**.pem

# Log files
**.log

# SQLITE
**.sqlite
